<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hansol.spot_200510_hs">

    <!-- 안드로이드 앱에서 인터넷에 접속할 수 있도록 허용 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d21ab179b00552d4207a548495837594" />

        <activity android:name=".Page0"/>
        <activity android:name=".Page0_3" />
        <activity android:name=".Page0_2" />
        <activity android:name=".Page0_4" />
        <activity android:name=".Page0_5" />
        <activity android:name=".Page0_6" />
        <activity android:name=".Page0_7" />
        <activity android:name=".Page0_8" />
        <activity android:name=".Page0_9" />
        <activity android:name="Page1.Page1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Page1.Page1_1_0" />
        <activity android:name="Page1.Page1_1_1" />
        <activity android:name="Page2.Page2" />
        <activity android:name="Page1.Page2_1" />
        <activity android:name="Page2_1_1.Page2_1_1" />
        <activity android:name="Page2_1_X.Page2_1_X" />
        <activity android:name="Page2_X.Page2_X" />
        <activity android:name="Page2_X.Page2_X_Main"/>
        <activity android:name="DB.Heart_page"/>
        <activity android:name="Page3.Page3_Main"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="Page3_1.Page3_1_Main"/>
        <activity android:name="Page3_1_1.Page3_1_1_Main"/>
        <activity android:name="Page3_1_1_1.Page3_1_1_1_Main"/>
        <activity android:name="Page1_schedule.Page1_Main"
            android:launchMode="singleTop"/>
        <activity android:name="Page1_schedule.Page1_full_Schedule"/>
        <activity android:name="Menu.Page4_2"/>
        <activity android:name="DB.Train_page"/>
        <activity android:name="Page2_1_X.Page2_1_X_ImageSelected"
            android:theme="@style/Transparent"></activity>
        <activity
            android:name=".Page0_9_PopUp"
            android:theme="@style/Transparent" />

        <service
            android:name="Page1_schedule.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>

</manifest>